.big {
    display: grid;
    grid-template-areas: "image image form";
}

.user {
    margin-top: 7vh;
}

.password {
    margin-top: 2vh;
}

.form {
    margin-top: 5%;
    grid-area: form;
    text-align: center;
    margin-right: 5%;
    padding-left: 16%;
    padding-right: 16%;
}

.image {
    grid-area: image;
}

.i {
    display: flex;
    border-bottom: solid;
    border-color: #151520;
}

.forgot {
    text-align: end;
    width: 100%;
    color: lightgray;
}

.no-account {
    margin-top: 2vh;
    width: 90%;
    text-align: end;
}

.signup {
    color: purple;
}

#gamer {
    width: 45vw;
    height: 50%;
    margin-top: 10%;
    position: absolute;
    z-index: 1;
    margin-left: 5%;
}

#avatar {
    width: 90px;
    margin-top: 15%;
}

#wave {
    width: 45vw;
    position: absolute;
    margin-left: 0px;
    z-index: 0;
}

button {
    background-color: #151520;
    border: none;
    border-radius: 4vh;
    height: 7vh;
    color: #fff;
    width: 100%;
    margin-top: 3vh;
}

input {
    width: 90%;
    height: 5vh;
    border: none;
    margin-left: 1vh;
    margin-bottom: 1vh;
    background-color: #fff;
    font-size: 3vh;
    font-family: "Noto Sans TC", sans-serif;
}

*:focus {
    outline: none;
}

h5 {
    text-align: start;
}

i {
    margin: auto;
}

h5 {
    font-size: 2vh;
    font-family: "Noto Sans TC", sans-serif;
    color: lightgray;
    margin-left: 6vh;
}

h1 {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: bolder;
}

a {
    cursor: pointer;
}
