.searchbar {
    margin-top: 2vh;
    text-align: center;
}

input {
    width: 20%;
    border-radius: 0.5vh;
    border-width: 1px;
    height: 5vh;
    background-color: #33153f;
    color: #fff;
}

button {
    border: none;
    background-color: #33153f;
    color: #fff;
    margin-left: 1ch;
    border-radius: 0.5vh;
}

*:focus {
    outline: none;
}

h2{
    margin-left: 2vh;
    margin-top: 4vh;
}
